<!doctype html>
<html lang="en">
<head>
  <script>
    window.env = {
      // __API__ will be replaced at container startup
      API: '__API__'
    }
    <% if (htmlWebpackPlugin.options.env && htmlWebpackPlugin.options.env.API) { %>
      window.env.API='<%= htmlWebpackPlugin.options.env.API %>';
    <% } %>
  </script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
          integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
          crossorigin=""></script>

  <title>Trekkerdata dashboard</title>
</head>
<body>
<div id="app"></div>
</body>
</html>
