<template>
  <div id="app">
    <navigation></navigation>
    <div class="container">
      <error ref="error"></error>
      <router-view/>
    </div>
    <foot></foot>
  </div>
</template>

<script>
  import Navigation from "./components/navigation";
  import Footer from "./components/footer";
  import Error from "./components/error";

  export default {
    name: 'app',
    components: {
      navigation: Navigation,
      foot: Footer,
      error: Error
    },
    mounted() {
      // route error events to error component
      this.$on('error', function (payload) {
        this.$refs.error.$emit('error', payload)
      });
      window.addEventListener('unhandledrejection', (event) =>{
        this.$refs.error.display(event.reason)
      });
    },
    errorCaptured(err, vm, info) {
      this.$refs.error.display(err)
    }
  }
</script>

<style>
</style>
