<template>
  <div>
    <div class="row">
      <div class="col s12">
        <section><h5>Werksessies</h5></section>
      </div>
    </div>
    <div class="row">
      <layer-selector></layer-selector>
    </div>
    <div class="row">
      <layer-knob-scale></layer-knob-scale>
    </div>
    <div class="row">
      <div class="col s12">
        <layer-canvas :map="$refs.map"></layer-canvas>
        <layer-legend :map="$refs.map"></layer-legend>
        <layer-info :map="$refs.map"></layer-info>
        <leaflet-map :lat="52.3" :lon="4.2" :zoom="6" ref="map" viz="viz"></leaflet-map>
        <layer-data></layer-data>
      </div>
    </div>

    <div v-if="isLayerEmpty()" class="row hide-on-small-only">
      <div class="col s12">
        <div class="chip yellow">
          Geen bruikbare data beschikbaar
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <section><h5>Downloads</h5></section>
        <a :href="csvDownloadUrl" class="waves-effect waves-light btn"
           :class="{disabled: !selected.session | isLayerEmpty()}"><i class="material-icons left">file_download</i>CSV</a>
        <a class="disabled waves-effect waves-light btn"><i class="material-icons left">file_download</i>GeoJSON</a>
        <a class="disabled waves-effect waves-light btn"><i class="material-icons left">file_download</i>GIS shapes</a>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapState} from 'vuex';
  import Map from '../components/map'
  import LayerSelector from '../components/layer-selector'
  import LayerData from '../components/layer-data'
  import LayerCanvas from '../components/layer-canvas'
  import LayerLegend from '../components/layer-legend'
  import LayerKnobScale from '../components/layer-knob-scale'
  import LayerInfo from '../components/layer-info'

  export default {
    name: 'sessions',
    components: {
      'leaflet-map': Map,
      'layer-selector': LayerSelector,
      'layer-data': LayerData,
      'layer-canvas': LayerCanvas,
      'layer-legend': LayerLegend,
      'layer-knob-scale': LayerKnobScale,
      'layer-info': LayerInfo,
    },
    props:
      ['tractor', 'date']
    ,
    data() {
      return {}
    },
    mounted() {
    },
    methods: {
      ...mapGetters({
        isLayerEmpty: 'LayerData/isEmpty'
      }),
      ...mapActions({
        selectMultiple: 'LayerSelector/selectMultiple',
      }),

    },
    computed: {
      ...mapState({
        selected: state => state.LayerSelector.selected,
      }),
      csvDownloadUrl() {
        let {tractor, session, sensor} = this.selected;
        return window.env.API + `/tractors/${tractor}/sessions/${session}/sensors/${sensor}?format=csv`
      },
    },

    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.selectMultiple(to.params);
      })
    },
  };
</script>

<style scoped>
  a.btn {
    margin-bottom: 4px;
  }

  .progress {
    position: relative;
    top: -200px;
  }
</style>
