<template>
  <div>
    <div class="row">
      <div class="col s12">
        <section><h5>Aangesloten tractoren</h5></section>
      </div>
      <div v-for="tractor in tractors" :key="tractor.id" class="col s12 m6 l4">
        <div class="card-panel lighten-5" :class="recencyColor(tractor.pos.ts)">
          <router-link :to="{name: 'sessions', params: {tractor: tractor.id}}"
                       class="status-icon btn-floating btn-small waves-effect waves-light"
                       :class="recencyColor(tractor.pos.ts)"><i
            class="material-icons left">gps_fixed</i></router-link>
          <router-link :to="{name: 'sessions', params: {tractor: tractor.id}}" class="white-ext">{{tractor.name}}
            ({{tractor.id}})
          </router-link>
          <table>
            <tbody>
            <tr>
              <td>Snelheid</td>
              <td>{{tractor.pos.spd}}</td>
            </tr>
            </tbody>
          </table>
          <br>
          <a href="#!" class="right grey-text"><i class="tiny material-icons">visibility</i>{{getTimeAgo(tractor.pos.ts)}}</a>

          <label>
            <input v-model="tracked" v-on:change="onTrackedTractorsChanged" :value="tractor.id" type="checkbox"/>
            <span class="compressed">Volgen</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <section><h5>Laatste positie</h5></section>
        <leaflet-map :lat="52.3" :lon="4.2" :zoom="7" ref="map"></leaflet-map>
        <p>
          <label>
            <input v-model="trackAll" v-on:change="onTrackedTractorsChanged" type="checkbox"/>
            <span>Alle tractors volgen</span>
          </label>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <section><h5>Toelichting kleuren</h5></section>
        <div class="card-panel grey lighten-4">
          <table>
            <tbody>
            <tr>
              <td><a class="btn-floating btn-small waves-effect waves-light green"><i
                class="material-icons left">gps_fixed</i></a></td>
              <td>Vandaag nog gezien</td>
            </tr>
            <tr>
              <td><a class="btn-floating btn-small waves-effect waves-light orange"><i
                class="material-icons left">gps_fixed</i></a></td>
              <td>Afgelopen 2-3 dagen gezien</td>
            </tr>
            <tr>
              <td><a class="btn-floating btn-small waves-effect waves-light red"><i
                class="material-icons left">gps_fixed</i></a></td>
              <td>Afgelopen 4-7 dagen gezien</td>
            </tr>
            <tr>
              <td><a class="btn-floating btn-small waves-effect waves-light grey"><i
                class="material-icons left">gps_fixed</i></a></td>
              <td>Langer dan een week niet gezien</td>
            </tr>

            <tr>
              <td><span class="grey-text"><i class="tiny material-icons">visibility</i> 2 uur</span></td>
              <td>2 uur geleden voor het laatst gegevens van ontvangen</td>
            </tr>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Map from '../components/map'
  import api from '../api/tractors'
  import TimeAgo from 'javascript-time-ago'
  import nl from 'javascript-time-ago/locale/nl'

  const UPDATE_INTERVAL_MILLIS = 8 * 1000; // 8 seconds
  const MAX_TRACK_DURATION_MILLIS = 10 * 60 * 1000; // 10 minutes

  TimeAgo.addLocale(nl);
  let timeAgo = new TimeAgo('nl-NL');

  export default {
    name: 'tractors',
    components: {
      'leaflet-map': Map
    },
    data() {
      return {
        tractors: [],
        trackStart: null,
        trackAll: false,
        tracked: [],
        trackIntervalHandle: null,
      }
    },
    mounted() {
      this.fetchTractors();
      this.trackIntervalHandle = setInterval(() => {
        if (this.isTracking()) {
          this.fetchTractors()
        }
      }, UPDATE_INTERVAL_MILLIS)
    },
    destroyed() {
      clearInterval(this.trackIntervalHandle)
    },
    methods: {
      onTrackedTractorsChanged() {
        this.fetchTractors();
      },
      async fetchTractors() {
        this.tractors = await api.fetchTractors();
        this.tractors = this.tractors.data;
        this.displayTractors(this.tractors, this.$refs.map);
      },
      displayTractors(tractors, map) {
        map.clear();
        tractors.filter(this.shouldDisplayTractor).forEach(tractor => {
          let icon = map._createIcon(this.recencyColor(tractor.pos.ts));
          map.addMarker(tractor.pos.lat, tractor.pos.lon, icon, tractor.id);
        });
        map.display();
      },
      isTracking() {
        if (this.trackAll || this.tracked.length > 0) {
          if (this.trackStart === null) {
            this.trackStart = Date.now();
          }

          if (Date.now() - this.trackStart > MAX_TRACK_DURATION_MILLIS) {
            this.tracked = [];
            this.trackAll = false;
            this.trackStart = null;

            return false
          }

          return true;
        }

        return false;
      },
      shouldDisplayTractor(tractor) {
        return this.trackAll
          || this.tracked.length === 0
          || this.tracked.includes(tractor.id)
      },
      getTimeAgo(dateString) {
        // must remove 'geleden' by hand due to bug in TimeAgo nl locale
        return timeAgo.format(new Date(Date.parse(dateString)), 'time').replace(' geleden', '');
      },
      recencyColor(dateString) {
        let dt = Date.parse(dateString);
        let daysDiff = (Date.now() - dt) / (1000 * 60 * 60 * 24);
        if (daysDiff < 1) {
          return 'green'
        } else if (daysDiff < 3) {
          return 'orange'
        } else if (daysDiff < 7) {
          return 'red'
        } else {
          return 'grey'
        }
      },
    }
  }
</script>

<style scoped>
  .status-icon {
    float: left;
    display: block;
    margin: 0 8px 30px;
  }

  i.tiny {
    position: relative;
    top: 2px;
    left: -3px;
    margin-top: 4px;
  }

  [type="checkbox"] + span.compressed {
    padding-left: 25px;
  }
</style>
