<template>
  <div>
    <div class="row" v-if="show">
      <div class="col s12">
        <div class="card-panel red lighten-2">
          <a href="" v-on:click.prevent="show = false" class="close"><i class="close material-icons right white-text">close</i></a>
          <span class="white-text">Er is iets fout gegaan: {{message}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "error",
    data() {
      return {
        show: false,
        message: null,
      }
    },
    methods: {
      display(msg) {
        this.message = msg
        this.show = true
      }
    },
    mounted() {
      this.$on('error', function (msg) {
        this.display(msg)
      })
    }
  }
</script>

<style scoped>

</style>
