<template>
  <footer class="page-footer brown darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Over ons</h5>
          <p class="grey-text text-lighten-4">Trekkerdata.nl biedt boeren de mogelijkheid om zelfstandig en eenvoudig
            een start te maken met precisielandbouw.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="http://www.trekkerdata.nl/">trekkerdata.nl</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.farmhack.nl/">farmhack.nl</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.ihelp.nl/">ihelp.nl</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019 Copyright trekkerdata.nl
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: "foot",
  }
</script>

<style scoped>

</style>
