<template>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  import Vue from 'vue';
  import InfoContent from './layer-info-contents'
  import '../../scss/legend.scss';
  import 'leaflet.canvas';

  export default {
    name: 'layer-info',
    components: {},
    props: ['map'],

    data() {
      return {}
    },
    mounted() {
    },

    watch: {
      'map.map': function () {
        if (this.map.map !== null) {
          this.displayInfo();
        }
      }
    },

    methods: {
      ...mapActions({
        selectFeatureAt: 'LayerData/selectFeatureAt',
      }),
      ...mapGetters('LayerData', ['isDataReady', 'getFeatureAt']),

      displayInfo() {
        this.map.map.on('click', (e) => {
          this.selectFeatureAt({
            latlng: e.latlng,
            range: 0.00000500
          });
        });

        //create new legend
        const Info = Vue.extend(InfoContent)
        let ic = new Info({
          parent: this,
          store: this.$store
        });

        ic.$mount();
        this.map.$el.querySelector('.leaflet-top.leaflet-right').appendChild(ic.$el)
      },
    }
  };
</script>
