<template>
  <div id="menu" class="leaflet-control legend" v-if="isDataReady()">
    <a><i class="material-icons left small">expand_less</i></a>
    <div class="flyout">
      <p>Legenda:</p>
      <ul id="list">
        <li v-for="cat in categories">
          <i class="material-icons tiny" :style="'color:'+cat.color">fiber_manual_record</i>
          {{cat.label}} {{cat.unit}}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    name: 'layer-legend-contents',
    components: {},

    data() {
      return {}
    },

    mounted() {
    },
    methods: {
      ...mapGetters('LayerData', ['isDataReady','unit', 'colorScheme', 'scale']),
      getPrecision(x) {
        return Math.max(0, 3 - Math.floor(Math.log10(x + 1)));
      },
      createLabel(x) {
        return x.toFixed(this.getPrecision(x))
      }
    },
    computed: {
      categories() {
        let scale = this.scale();
        let color_scheme = this.colorScheme();
        let unit = this.unit();

        let cats = [];
        if (scale && color_scheme && unit) {
          let x1, x2, label;
          let thresholds = scale.thresholds();
          for (x2 of thresholds) {
            let color = color_scheme[scale((x1 + x2) / 2)];
            if (x1 === undefined) {
              label = `< ${this.createLabel(x2)}`
            } else if (thresholds.indexOf(x2) === thresholds.length - 1) {
              label = `> ${this.createLabel(x1)}`
            } else {
              label = this.createLabel(x1);
            }
            cats.push({
              color: color,
              label: label,
              unit: unit
            });
            x1 = x2;
          }
        }
        return cats
      }
    }
  };
</script>

<style>
  .legend {
    background: rgba(255, 255, 255, 1.0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 10px 0;
    margin: 10px;

  }
</style>
