<template>
  <div>
    <div id="slider-container">
      <div id="extent-slider"></div>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  import * as noUiSlider from 'nouislider';
  import 'nouislider/distribute/nouislider.css'

  export default {
    name: 'layer-knob-scale',
    components: {},

    data() {
      return {
        slider: null,
      }
    },
    methods: {
      ...mapGetters('LayerData', ['isDataReady', 'featureCollection', 'extent']),
      ...mapActions({
        setScaleExtent: 'LayerData/setScaleExtent',
      }),
    },
    mounted() {
      this.$watch(
        function () {
          return this.isDataReady()
        },
        function (isDataReady) {
          let extent = this.extent();

          if (!isDataReady || extent[0] === extent[1]) {
            if (this.slider !== null) {
              this.slider.setAttribute('disabled', true);
              this.slider.noUiSlider.updateOptions(
                {range: {
                    'min': 0,
                    'max': 1
                  }}, // Object
                true // Boolean 'fireSetEvent'
              );
            }
            return;
          }
          if (this.slider != null) {
            this.slider.noUiSlider.destroy();
            this.slider = null
          }
          this.slider = document.getElementById('extent-slider');
          noUiSlider.create(this.slider, {
            start: extent,
            connect: [true, true, true],
            step: 0.1,
            tooltips: true,
            orientation: 'horizontal',
            range: {
              'min': extent[0],
              'max': extent[1]
            }
          });
          this.slider.removeAttribute('disabled');

          let connect = this.slider.querySelectorAll('.noUi-connect');
          let classes = ['c-1-color', 'c-2-color', 'c-3-color', 'c-4-color', 'c-5-color'];
          for (let i = 0; i < connect.length; i++) {
            connect[i].classList.add(classes[i]);
          }

          this.slider.noUiSlider.on('update', (extent) => {
            this.setScaleExtent(extent)
          });
        }
      )
    }
  };
</script>
<style>
  #extent-slider {
    margin: 30px 30px 0;
  }
  :root {
    --color-low:rgb(128,0,38);
    --color-high:rgb(255,255,204);
  }
  .c-1-color { background: var(--color-low); }
  .c-2-color {  background-image: linear-gradient(to right, rgb(128,0,38),rgb(189,0,38),rgb(227,26,28),rgb(252,78,42),rgb(253,141,60),rgb(254,178,76),rgb(254,217,118),rgb(255,237,160),rgb(255,255,204)); }
  .c-3-color { background: var(--color-high); }
</style>


