<template>
  <div>
    <div class="input-field">
      <div class="input-field col s12 m4">
        <select :disabled="!tractorOptions" v-model="selected_tractor">
          <option value="" disabled selected>Maak een keuze</option>
          <option v-for="option in tractorOptions" :value="option.value">{{ option.text }}</option>
        </select>
        <label>Kies een tractor</label>
      </div>
    </div>
    <div class="input-field">
      <div class="input-field col s12 m4">
        <select :disabled="!sessionOptions" v-model="selected_session">
          <option value="" disabled selected>Maak een keuze</option>
          <option v-for="option in sessionOptions" v-bind:value="option.value">{{ option.text }}</option>
        </select>
        <label>Kies een werksessie</label>
        <div v-if="!sessionOptions" class="progress">
          <div class="indeterminate light-blue"></div>
        </div>
      </div>
    </div>
    <div class="input-field">
      <div class="input-field col s12 m4">
        <select :disabled="selected.session && !sensorOptions" v-model="selected_sensor">
          <option value="" disabled selected>Maak een keuze</option>
          <option v-for="option in sensorOptions" v-bind:value="option.value">{{ option.text }} ({{ option.value }})
          </option>
        </select>
        <label>Kies een dataset</label>
        <div v-if="selected.session && !sensorOptions" class="progress">
          <div class="indeterminate light-blue"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapState} from 'vuex';
  import moment from 'moment';

  export default {
    name: 'layer-selector',
    components: {},
    props: [],

    data() {
      return {}
    },

    mounted() {
      moment.locale('nl-NL');
      this.initSelector();
      this.initDropdowns();
    },

    methods: {
      ...mapActions({
        initSelector: 'LayerSelector/init',
        selectTractor: 'LayerSelector/selectTractor',
        selectSession: 'LayerSelector/selectSession',
        selectSensor: 'LayerSelector/selectSensor',
      }),

      initDropdowns() {
        this.$nextTick(() => {
          M.FormSelect.init(document.querySelectorAll('select'), {});
        });
      },

      updateRoute(level) {
        this.$router.push({
          name: 'sessions',
          params: {
            tractor: this.selected.tractor,
            session: level < 1 ? null : this.selected.session,
            sensor: level < 2 ? null : this.selected.sensor,
          }
        }).catch(() => {
        });
      },
    },
    computed: {
      ...mapState({
        tractors: state => state.LayerSelector.tractors,
        sessions: state => state.LayerSelector.sessions,
        sensors: state => state.LayerSelector.sensors,
        selected: state => state.LayerSelector.selected,
        selection_complete: state => state.LayerSelector.selection_complete,
      }),
      selected_tractor: {
        set(value) {
          this.selectTractor(value)
        },
        get() {
          return this.selected.tractor
        }
      },
      selected_session: {
        set(value) {
          this.selectSession(value)
        },
        get() {
          return this.selected.session
        }
      },
      selected_sensor: {
        set(value) {
          this.selectSensor(value)
        },
        get() {
          return this.selected.sensor
        }
      },

      tractorOptions() {
        if (this.tractors === null) {
          return null
        }

        return this.tractors.map((tractor) => {
          return {
            text: `${tractor.name} (${tractor.id})`,
            value: tractor.id
          }
        });
      },

      sessionOptions() {
        if (this.sessions === null) {
          return null
        }

        return this.sessions.map((session) => {
          let date = moment(Date.parse(session.date));
          return {
            text: date.format('dddd DD MMMM YYYY'),
            value: date.format('YYYY-MM-DD')
          }
        });
      },

      sensorOptions() {
        if (this.sensors === null) {
          return null
        }

        return this.sensors.map((sensor) => {
          return {
            text: `${sensor.label}`,
            value: sensor.id
          }
        });
      }
    },
    watch: {
      sensorOptions: function () {
        this.initDropdowns()
      },

      sessionOptions: function () {
        this.initDropdowns()
      },

      tractorOptions: function () {
        this.initDropdowns()
      },
      'selected.sensor': function () {
        this.updateRoute(2);
        this.initDropdowns()
      },
      'selected.session': function () {
        this.updateRoute(1)
      },
      'selected.tractor': function () {
        this.updateRoute(0)
      }
    },
  };
</script>

<style>
  .dropdown-content {
    max-height: 450px !important;
    overflow-y: auto !important;
    backface-visibility: hidden !important;
  }

  .dropdown-content li span {
    font-size: 95% !important;
  }

  .select-dropdown {
    font-size: 95% !important;
  }
</style>
