<template>
  <div v-if="selectedFeature" id="menu" class="leaflet-control info">
    <a><i class="small material-icons">info_outline</i></a>
    <table class="striped">
      <tbody>
      <tr>
        <td>Meting</td>
        <td>{{selectedFeature.properties.val}}</td>
        <td>{{unit()}}</td>
      </tr>
      <tr>
        <td>Tijd</td>
        <td>{{time}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Snelheid</td>
        <td>{{selectedFeature.properties.spd}}</td>
        <td>km/h</td>
      </tr>
      <tr>
        <td>Richting</td>
        <td>{{selectedFeature.properties.trk}}</td>
        <td>deg</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {mapGetters, mapState} from 'vuex';

  export default {
    name: 'layer-info-contents',
    components: {},

    data() {
      return {}
    },

    mounted() {
    },
    methods: {
      ...mapGetters('LayerData', ['unit', 'colorScheme', 'scale']),
    },
    computed: {
      ...mapState({
        selectedFeature: state => state.LayerData.selected,
      }),
      time() {
        let d = new Date(this.selectedFeature.properties.ts);
        return d.toLocaleTimeString();
      }
    }
  };
</script>

<style>
  .info {
    padding: 6px 8px;
    background: rgba(255, 255, 255, 1.0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }
</style>
