<template>
  <div>
    <div v-if="loading" class="progress">
      <div class="indeterminate light-blue"></div>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapState, mapMutations} from 'vuex';

  export default {
    name: 'layer-data',
    components: {},
    props: [],

    data() {
      return {}
    },

    mounted() {
    },

    methods: {
      ...mapGetters('LayerSelector', ['getSensorById']),
      ...mapGetters('LayerData', ['isLoading']),
      ...mapActions({
        loadSensorData: 'LayerData/loadSensorData',
      }),
      ...mapMutations({
        clearData: 'LayerData/clearData',
      }),

    },
    computed: {
      loading() {
        return this.isLoading();
      },
      ...mapState({
        selected: state => state.LayerSelector.selected,
      }),
    },
    watch: {
      'selected.sensor': function () {
        if (this.selected.sensor !== null) {
          this.loadSensorData(this.selected);
        } else {
          this.clearData();
        }
      },
    },
  };
</script>
