<template>
</template>

<script>
  import {mapGetters, mapState} from 'vuex';
  import CanvasLayer from '../lib/leaflet.canvas-layer';
  import 'leaflet.canvas';

  export default {
    name: 'layer-canvas',
    components: {},
    props: ['map'],

    data() {
      return {
        layer: null,
        initialZoomSupport: true,
      }
    },

    mounted() {
      this.$watch(
        function () {
          return this.isDataReady()
        },
        function (isDataReady) {
          if (isDataReady) {
            this.displayData(this.featureCollection);
          }
        }
      );
    },

    watch: {
      // rerender when data scale changes
      'extent': function () {
        if (this.layer) {
          this.layer.render();
        }
      },
      'selected': function () {
        if (this.layer) {
          this.layer.render();
        }
      }
    },
    computed: {
      ...mapState({
        extent: state => state.LayerData.extent,
        selected: state => state.LayerData.selected,
      }),
    },
    methods: {
      ...mapGetters('LayerData', ['isDataReady', 'featureCollection', 'colorScheme', 'scale']),

      displayData(featureCollection) {
        // remove old layer
        if (this.layer) {
          this.map.removeLayer(this.layer);
        }

        // zoom to data after first render
        this.initialZoomSupport = true;
        this.layer = new CanvasLayer(featureCollection, this.drawPoints);
        this.layer.setZIndex(15);
        this.map.addLayer(this.layer);
      },

      drawPoints(ctx, points) {
        if (!this.isDataReady()) {
          return
        }

        let color_scheme = this.colorScheme();
        let scale = this.scale();

        for (let point of points) {
          this.drawPoint(ctx, point, 1.6, color_scheme[scale(point.value)], 'rgb(255,255,255,.5)');
        }
        if (this.selected) {
          let point = this.layer.project(this.selected);
          this.drawPoint(ctx, point, 2, 'rgb(255,255,255,.5)', 'rgb(255,255,255,1)');
        }

        if (points.length === 0 && this.initialZoomSupport) {
          this.map.zoomToLayer(this.layer);
        }
        this.initialZoomSupport = false

        this.setMatrix(ctx, 0, 0, 0);
      },

      drawPoint(ctx, point, factor, fillColor, strokeColor) {
        if (point.trk) {
          this.setMatrix(ctx, point.x, point.y, point.trk * Math.PI / 180, factor)
        } else {
          this.setMatrix(ctx, point.x, point.y, 0, factor)
        }
        ctx.fillStyle = fillColor;
        ctx.strokeStyle = fillColor;
        ctx.fillRect(-3, -3, 6, 6);
        ctx.strokeRect(-3, -3, 6, 6);
        ctx.beginPath();
        if (point.trk) {
          ctx.strokeStyle = '#888';//strokeColor;
          ctx.moveTo(-3, 1);
          ctx.lineTo(0, -1);
          ctx.lineTo(3, 1);
          ctx.stroke()
        }
      },

      setMatrix(ctx, x, y, rotate, scale = 1) {
        let xAx = scale * Math.cos(rotate);  // the x axis x
        let xAy = scale * Math.sin(rotate);  // the x axis y
        ctx.setTransform(xAx, xAy, -xAy, xAx, x, y);
      }
    }
  };
</script>
