<template>
</template>

<script>
  import LegendContent from './layer-legend-contents'
  import '../../scss/legend.scss';
  import Vue from 'vue';
  import 'leaflet.canvas';

  export default {
    name: 'layer-legend',
    components: {},
    props: ['map'],

    data() {
      return {}
    },
    mounted() {
    },
    watch: {
      'map' : function() {
        if (this.map) {
          this.displayLegend();
        }
      }
    },

    methods: {
      displayLegend() {
        const Legend = Vue.extend(LegendContent);
        let hbl = new Legend({
          parent: this,
          store: this.$store
        });

        hbl.$mount();
        this.map.$el.querySelector('.leaflet-bottom.leaflet-left').appendChild(hbl.$el)
      }
    }
  };
</script>
