<template>
  <leaflet id="leaflet-map" ref="myMap">
  </leaflet>
</template>

<script>
  import {LMap, LMarker, LTileLayer} from 'vue2-leaflet'
  import {mapState} from 'vuex'

  export default {
    name: 'map-leaflet',
    components: {
      leaflet: LMap,
      LTileLayer,
      LMarker
    },
    data() {
      return {
        zoomed: false,
        map: null,
        group: null,
        layers: [],
        markers: []
      }
    },
    computed: mapState({
      tractors: state => state.tractor.tractors
    }),
    props: ['lat', 'lon', 'zoom'],
    mounted() {
      this.$nextTick(() => {
        this.map = this.$refs.myMap.mapObject;
        this.map.setView([this.lat, this.lon], this.zoom);

        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {})
          .addTo(this.map);
      });
    },
    methods: {
      clear() {
        this.markers = [];
        if (this.group !== null) {
          this.group.removeFrom(this.map)
        }
        for (let layer of this.layers) {
          layer.removeFrom(this.map);
        }

        this.layers = []
      },

      addMarker(lat, lon, icon, popupMsg) {
        this.markers.push(
          L.marker([lat, lon], {icon: icon}).bindPopup(popupMsg)
        );
      },

      zoomToLayer(layer) {
        this.map.fitBounds(layer.getBounds());
      },

      addLayer(layer) {
        layer.addTo(this.map);
        this.layers.push(layer);
        if (!this.zoomed) {
          this.map.fitBounds(layer.getBounds());
          this.zoomed = true;
        }
      },

      removeLayer(layer) {
        layer.removeFrom(this.map);
        this.layers = this.layers.filter(l => l !== layer)
      },

      display() {
        if (this.markers.length > 0) {
          this.group = L.featureGroup(this.markers).addTo(this.map)
          this.map.fitBounds(this.group.getBounds());
        }
      },

      _createIcon(color) {
        return new L.Icon({
          iconUrl: `/static/leaflet-marker-icons/marker-icon-2x-${color}.png`,
          shadowUrl: '/static/leaflet-marker-icons/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });
      }
    }
  }

</script>

<style scoped>
  #leaflet-map {
    height: 500px;
    width: 100%;
    z-index: 20;
  }

  .leaflet-container {
    cursor: crosshair;
  }
</style>
