<template>
  <span>
    <nav>
      <div class="nav-wrapper light-blue">
        <router-link to="/" class="brand-logo center">trekkerdata</router-link>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li><router-link to="/tractors">Tractors</router-link></li>
          <li><router-link to="/sessions">Werksessies</router-link></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav sidenav-close" id="mobile-demo">
      <li><router-link to="/tractors">Tractors</router-link></li>
      <li><router-link to="/sessions">Werksessies</router-link></li>
    </ul>
  </span>
</template>

<script>
  export default {
    name: "navigation",
    mounted() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, {});
    },
  }
</script>

<style scoped>

</style>
