#menu .flyout {
  max-height: 0;
  transition: max-height 0.15s ease-out, width 0.2s linear 0.2s, padding 0s linear 0.2s;
  padding:0;
  margin:0;
  width: 32px;
  overflow: hidden;
}

#menu a i {
  position:relative;
  top: -4px;
  margin:0;
}

#menu #list li i {
  position: relative;
  top: 3px;
}

#menu:hover .flyout {
  max-height: 500px;
  padding: 0 20px 20px;
  width: 200px;
  transition: width 0.2s linear, padding 0.25s linear, max-height 0.25s ease-in 0.2s;
}
